body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h1 {
    font-size: 24px;
    color: #333;
}

.question {
    font-size: 18px;
    margin: 10px 0;
}

.options button {
    display: block;
    margin: 5px;
    padding: 10px;
    width: 100%;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#next-button {
    background-color: #333;
    color: #fff;
}

.result {
    font-size: 18px;
    margin: 10px 0;
}

